<div class="about">
    <h3>{{languagePack.aboutUsHeader.do}} <i class="fa fa-thumbs-up" aria-hidden="true"></i></h3>
    <ul class="skills">
        <li ng-repeat="skill in doList|filter:{'do':0}">
            <div class="skill-item">
                <h5><i class="fa fa-check" aria-hidden="true"></i> {{language=="ru"?skill.title_ru:skill.title_en}}</h5>
                <p class="info-step">{{language=="ru"?skill.description_ru:skill.description_en}}</p>
            </div>
        </li>
    </ul>
    <h3>{{languagePack.aboutUsHeader.notDo}} <i class="fa fa-thumbs-down" aria-hidden="true"></i></h3>
    <ul class="skills">
        <li ng-repeat="skill in doList|filter:{'do':1}">
            <div class="skill-item">
                <h5><i class="fa fa-times neg" aria-hidden="true"></i> {{language=="ru"?skill.title_ru:skill.title_en}}</h5>
                <p class="info-step">{{language=="ru"?skill.description_ru:skill.description_en}}</p>
            </div>
        </li>
    </ul>
</div>
