<div class="about">
    <div class="about-item about-item-first">
        <div class="content">
            <h3>Кто мы?</h3>
            <p>Мы молодая, амбициозная, но уже достаточно опытная команда специалистов
                предлагаем Вам свои услуги в сфере веб-разработки
            </p>
        </div>
    </div>
    <div class="about-item">
        <div class="content">
            <h3>Что мы делаем?</h3>
            <ul>
                <li>Потрясающие лендинги</li>

                <li>Веб-приложения разной сложности, начиная от игр и заканчивая различными конфигурационными программами с вычислительной локикой</li>

            </ul>
        </div>
    </div>
    <div class="about-item">
        <div class="content">
            <h3>Что мы НЕделаем?</h3>
        </div>
    </div>
</div>